.jumbotron {
    box-sizing: border-box;
    height: 600px;
    background-color: blanchedalmond;

  }
button {
	width: 80%;
	height: 60px;
	margin: 0 10%;
  float: left;
}

img {
    align-content: center;
}

body {
    background-color: blanchedalmond;
    color: blue;
  }


